*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: khaki;
}

.mainBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.mainBox div{
    width: 50%;
}

.mainBox div>input{
    border: 2px solid black;
    border-radius: 5px;
    background-color: orange;
    width: 80%;
    height: 60px;
    padding: 10px;
    font-size: larger ;
}

.mainBox table{
    border: 2px solid black;
    background-color: gold;
    border-radius: 5px;
    width: 80%;
    

}

.mainBox table td{
    border: 1px solid red;
    background-color: black;
    color: white;
    border-radius: 50px ;
    height: 50px;
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width: 992px){
    .mainBox{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .mainBox{
        width: 80%;
    }
}

@media only screen and (max-width: 576px){
    .mainBox{
        width: 100%;
    }
}
